/*
*   1rem 是在html中字体设置的大小。若果设为16mx, 0.25rem 相当于4mx
*   定义基础组件 margin 范围 0 ~ 3rem ,如有不符合基本变量，可以按照实际情况添加
*/
:root {
  --smace-1: .25rem;
  --smace-2: .5rem;
  --smace-3: .75rem;
  --smace-4: 1rem;
  --smace-5: 1.25rem;
  --smace-6: 1.5rem;
  --smace-7: 1.75rem;
  --smace-8: 2rem;
  --smace-9: 2.5rem;
  --smace-10: 3rem;
}
.m0 {
  margin: 0;
}
.mt0 {
  margin-top: 0;
}
.mr0 {
  margin-right: 0;
}
.mb0 {
  margin-bottom: 0;
}
.ml0 {
  margin-left: 0;
}
.mx0 {
  margin-left: 0;
  margin-right: 0;
}
.my0 {
  margin-top: 0;
  margin-bottom: 0;
}
.m1 {
  margin: var(--smace-1);
}
.mt1 {
  margin-top: var(--smace-1);
}
.mr1 {
  margin-right: var(--smace-1);
}
.mb1 {
  margin-bottom: var(--smace-1);
}
.ml1 {
  margin-left: var(--smace-1);
}
.my1 {
  margin-top: var(--smace-1);
  margin-bottom: var(--smace-1);
}
.mx1 {
  margin-left: var(--smace-1);
  margin-right: var(--smace-1);
}
.m2 {
  margin: var(--smace-2);
}
.mt2 {
  margin-top: var(--smace-2);
}
.mr2 {
  margin-right: var(--smace-2);
}
.mb2 {
  margin-bottom: var(--smace-2);
}
.ml2 {
  margin-left: var(--smace-2);
}
.my2 {
  margin-top: var(--smace-2);
  margin-bottom: var(--smace-2);
}
.mx2 {
  margin-left: var(--smace-2);
  margin-right: var(--smace-2);
}
.m3 {
  margin: var(--smace-3);
}
.mt3 {
  margin-top: var(--smace-3);
}
.mr3 {
  margin-right: var(--smace-3);
}
.mb3 {
  margin-bottom: var(--smace-3);
}
.ml3 {
  margin-left: var(--smace-3);
}
.my3 {
  margin-top: var(--smace-3);
  margin-bottom: var(--smace-3);
}
.mx3 {
  margin-left: var(--smace-3);
  margin-right: var(--smace-3);
}
.m4 {
  margin: var(--smace-4);
}
.mt4 {
  margin-top: var(--smace-4);
}
.mr4 {
  margin-right: var(--smace-4);
}
.mb4 {
  margin-bottom: var(--smace-4);
}
.ml4 {
  margin-left: var(--smace-4);
}
.my4 {
  margin-top: var(--smace-4);
  margin-bottom: var(--smace-4);
}
.mx4 {
  margin-left: var(--smace-4);
  margin-right: var(--smace-4);
}
.m5 {
  margin: var(--smace-5);
}
.mt5 {
  margin-top: var(--smace-5);
}
.mr5 {
  margin-right: var(--smace-5);
}
.mb5 {
  margin-bottom: var(--smace-5);
}
.ml5 {
  margin-left: var(--smace-5);
}
.my5 {
  margin-top: var(--smace-5);
  margin-bottom: var(--smace-5);
}
.mx5 {
  margin-left: var(--smace-5);
  margin-right: var(--smace-5);
}
.m6 {
  margin: var(--smace-6);
}
.mt6 {
  margin-top: var(--smace-6);
}
.mr6 {
  margin-right: var(--smace-6);
}
.mb6 {
  margin-bottom: var(--smace-6);
}
.ml6 {
  margin-left: var(--smace-6);
}
.my6 {
  margin-top: var(--smace-6);
  margin-bottom: var(--smace-6);
}
.mx6 {
  margin-left: var(--smace-6);
  margin-right: var(--smace-6);
}
.m7 {
  margin: var(--smace-7);
}
.mt7 {
  margin-top: var(--smace-7);
}
.mr7 {
  margin-right: var(--smace-7);
}
.mb7 {
  margin-bottom: var(--smace-7);
}
.ml7 {
  margin-left: var(--smace-7);
}
.my7 {
  margin-top: var(--smace-7);
  margin-bottom: var(--smace-7);
}
.mx7 {
  margin-left: var(--smace-7);
  margin-right: var(--smace-7);
}
.m8 {
  margin: var(--smace-8);
}
.mt8 {
  margin-top: var(--smace-8);
}
.mr8 {
  margin-right: var(--smace-8);
}
.mb8 {
  margin-bottom: var(--smace-8);
}
.ml8 {
  margin-left: var(--smace-8);
}
.my8 {
  margin-top: var(--smace-8);
  margin-bottom: var(--smace-8);
}
.mx8 {
  margin-left: var(--smace-8);
  margin-right: var(--smace-8);
}
.m9 {
  margin: var(--smace-9);
}
.mt9 {
  margin-top: var(--smace-9);
}
.mr9 {
  margin-right: var(--smace-9);
}
.mb9 {
  margin-bottom: var(--smace-9);
}
.ml9 {
  margin-left: var(--smace-9);
}
.my9 {
  margin-top: var(--smace-9);
  margin-bottom: var(--smace-9);
}
.mx9 {
  margin-left: var(--smace-9);
  margin-right: var(--smace-9);
}
.m10 {
  margin: var(--smace-10);
}
.mt10 {
  margin-top: var(--smace-10);
}
.mr10 {
  margin-right: var(--smace-10);
}
.mb10 {
  margin-bottom: var(--smace-10);
}
.ml10 {
  margin-left: var(--smace-10);
}
.my10 {
  margin-top: var(--smace-10);
  margin-bottom: var(--smace-10);
}
.mx10 {
  margin-left: var(--smace-10);
  margin-right: var(--smace-10);
}
